:root {
  //    colors
  --color-white: #fff;
  --color-text-accent: #000000;
  --color-text-paragraph: #907e82;
  --color-text-title: #d41443;
  --color-text-lable: #ffa5ba;

  --color-bg-burger-menu: #e17992;
  --color-bg-main: #ffb8ca;
  --color-bg-light: #fff5f6;

  --color-btn-active: #d41342;
  --color-coffee-style: #f0d1a5;
  --color-food-style: #c2e297;
  --color-social-icon: #fea5bb;
}
