<section class="advantages section" id="our-products">
    <div class="container advantages-container">
        <h2 class="section-title visually-hidden">Переваги</h2>
        <ul class="advantages__list">
            <li class="advantages__item">
                <p class="advantages__text advantages__text--milk">
                    <span data-digits-counter class="advantages__amount" id="milk">721</span>
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </li>
            <li class="advantages__item">
                <p class="advantages__text advantages__text--apples">
                    <span data-digits-counter class="advantages__amount advantages__amount--apples " id="apples">16</span>
                    <span class="kg">kg</br></span>
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </li>
            <li class="advantages__item">
               <p class="advantages__text advantages__text--heart">
                    <span data-digits-counter class="advantages__amount" id="heart">84</span>
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
               </p>
            </li>
        </ul>   
    </div>
</section>