<div class="menu-container js-menu-container" id="mobile-menu">
    <div class="mobile-wrapper">
        <!-- Кнопка "закрыть" -->
        <button class="menu-toggle btn js-close-menu" type="button" aria-label="close mobile menu">
            <svg class="mobile-menu__icon-close" width="25" height="25">
                <use class="icon-cross" href="/src/images/symbol-defs.svg#close"></use>
            </svg>
        </button>
        
        <!-- Mobile menu -->
            <button data-modal-mob-open class="button-buy" type="button" aria-label="button buy now">
                Buy now 
                <svg class="button-buy__icon" width="8" height="10">
                    <use class="vector-red" href="/src/images/symbol-defs.svg#icon-Vector-2"></use>
                </svg>
            </button>
            
            <nav class="mobile-menu">
                <ul class="mobile-menu__list">
                    <li class="mobile-menu__item">

                        <a data-link1-close class="mobile-menu__link" href="#hero">Home</a>     

                    </li>
            
                    <li class="mobile-menu__item">
                        <a data-link2-close class="mobile-menu__link" href="#our-products">About us</a>
                    </li>
            
                    <li class="mobile-menu__item">
                        <a data-link3-close class="mobile-menu__link" href="#about">How it’s made?</a>    
                    </li>
            
                    <li class="mobile-menu__item">
                        <a data-link4-close class="mobile-menu__link" href="#products">Our products</a>    
                    </li>
            
                    <li class="mobile-menu__item">
                        <a data-link5-close class="mobile-menu__link" href="#contact">Contact</a>  
                    </li>
                </ul>
            </nav>
    </div>

</div>

