<!--customers reviews-->
<section class="customers-reviews section">
  <div class="container reviews__container">
    <h2 class="reviews__title visually-hidden" id="customer-reviews">
      Customer reviews
    </h2>
    <div class="reviews__slider">
      <article class="reviews__item">
        <h3 class="reviews__title visually-hidden" id="1customer-review">
          First customer review
        </h3>
        <img
          class="reviews__image"
          srcset="
            images/customers/1customer.jpg    1x,
            images/customers/1customer@2x.jpg 2x
          "
          src="images/customers/1customer.jpg"
          alt="Evhen's photo"
        />
        <div class="reviews__text-thumb">
          <p class="reviews__text">
            Do you have a conflict on GitHub? Keep calm and eat some ice-cream!
            Here is the best ice-cream ever! Their strawberry & hot fudge banana
            splits are out of this world!”
          </p>
        </div>
        <span class="reviews__label">Evhen, Sumy</span>
      </article>
      <article class="reviews__item">
        <h3 class="reviews__title visually-hidden" id="2customer-review">
          Second customer review
        </h3>
        <img
          class="reviews__image"
          srcset="
            images/customers/2customer.jpg    1x,
            images/customers/2customer@2x.jpg 2x
          "
          src="images/customers/2customer.jpg"
          alt="Volodymyr's photo"
        />
        <div class="reviews__text-thumb">
          <p class="reviews__text">
            “Best Ice Cream Ever!!!” Huge selection of ice cream flavors that is
            amazing!!!They have a huge menu of yummy options such as sundaes,
            ice cream sodas, milk shakes & scrumptious options!
          </p>
        </div>
        <span class="reviews__label">Volodymyr, Ternopil</span>
      </article>
      <article class="reviews__item">
        <h3 class="reviews__title visually-hidden" id="3customer-reviews">
          Third customer review
        </h3>
        <img
          class="reviews__image"
          srcset="
            images/customers/3customer.jpg    1x,
            images/customers/3customer@2x.jpg 2x
          "
          src="images/customers/3customer.jpg"
          alt="Ihor's photo"
        />
        <div class="reviews__text-thumb">
          <p class="reviews__text">
            Terrific ice cream, great texture: not too thick, not too thin,
            flavors are clear and clean and not too sweet, but sweet enough.
            Favorites: chocolate chip and chocomint.
          </p>
        </div>
        <span class="reviews__label">Ihor, Khmelnytskyi</span>
      </article>
      <article class="reviews__item">
        <h3 class="reviews__title visually-hidden" id="4customer-review">
          Fourth customer review
        </h3>
        <img
          class="reviews__image"
          srcset="
            images/customers/4customer.jpg    1x,
            images/customers/4customer@2x.jpg 2x
          "
          src="images/customers/4customer.jpg"
          alt="customer photo"
        />
        <div class="reviews__text-thumb">
          <p class="reviews__text">
            Do you have any problems with your code? Make a pause and taste some
            ice-cream made with passion!!!It's so delicious that you don't
            forget its sweet taste never!
          </p>
        </div>
        <span class="reviews__label">Elena, Kharkiv</span>
      </article>
      <article class="reviews__item">
        <h3 class="reviews__title visually-hidden" id="5customer-review">
          Fifth customer review
        </h3>
        <img
          class="reviews__image"
          srcset="
            images/customers/5customer.jpg    1x,
            images/customers/5customer@2x.jpg 2x
          "
          src="images/customers/5customer.jpg"
          alt="Ilya's photo"
        />
        <div class="reviews__text-thumb">
          <p class="reviews__text">
            I love salted butter caramel ice cream here A LOT, the taste is
            unique! I recommend everyone to try, the ambience is also good, nice
            place to have the meetup. I like this place!
          </p>
        </div>
        <span class="reviews__label">Ilya, Kharkiv</span>
      </article>
      <article class="reviews__item">
        <h3 class="reviews__title visually-hidden" id="6customer-review">
          Sixth customer review
        </h3>
        <img
          class="reviews__image"
          srcset="
            images/customers/6customer.jpg    1x,
            images/customers/6customer@2x.jpg 2x
          "
          src="images/customers/6customer.jpg"
          alt="Yulia's photo"
        />
        <div class="reviews__text-thumb">
          <p class="reviews__text">
            I absolutely love this ice cream. It is so creamy and tasty. The
            taste of the fresh fruit ice creams is amazing and as the outlet
            name is very natural! You should surely taste it!
          </p>
        </div>
        <span class="reviews__label">Yulia, Zaporizhzhia</span>
      </article>
      <article class="reviews__item">
        <h3 class="reviews__title visually-hidden" id="7customer-review">
          Seventh customer review
        </h3>
        <img
          class="reviews__image"
          srcset="
            images/customers/7customer.jpg    1x,
            images/customers/7customer@2x.jpg 2x
          "
          src="images/customers/7customer.jpg"
          alt="Tatyana'a photo"
        />
        <div class="reviews__text-thumb">
          <p class="reviews__text">
            When I have bad mood, I go to this ice cream shop, buy ice cream and
            chocolate milkshake. After that my day gets better and I can move
            mountains! This ice cream sends energy to me!
          </p>
        </div>
        <span class="reviews__label">Tatyana, Odessa</span>
      </article>
      <article class="reviews__item">
        <h3 class="reviews__title visually-hidden" id="8customer-review">
          Eighth customer review
        </h3>
        <img
          class="reviews__image"
          srcset="
            images/customers/8customer.jpg    1x,
            images/customers/8customer@2x.jpg 2x
          "
          src="images/customers/8customer.jpg"
          alt="Alexandr's photo"
        />
        <div class="reviews__text-thumb">
          <p class="reviews__text">
            Amazing ice cream on a very hot day! Excellent service, great
            attitude. Would highly recommend! Great addition to an event or

            party! This ice cream will be a highlight at your party!

          </p>
        </div>
        <span class="reviews__label">Alexandr, Kharkiv</span>
      </article>
      <article class="reviews__item">
        <h3 class="reviews__title visually-hidden" id="9customer-review">
          Ninth customer review
        </h3>
        <img
          class="reviews__image"
          srcset="
            images/customers/9customer.jpg    1x,
            images/customers/9customer@2x.jpg 2x
          "
          src="images/customers/9customer.jpg"
          alt="customer photo"
        />
        <div class="reviews__text-thumb">
          <p class="reviews__text">
            I start my every day with an ice coffee. My favorite ice cream shop!
            Coffee + cookies is the best! The mint chocolate chip is really good
            as well. You can't go wrong here!
          </p>
        </div>
        <span class="reviews__label">Nadiya, Odessa</span>
      </article>
      <article class="reviews__item">
        <h3 class="reviews__title visually-hidden" id="10customer-review">
          Tenth customer review
        </h3>
        <img
          class="reviews__image"
          srcset="
            images/customers/10customer.jpg    1x,
            images/customers/10customer@2x.jpg 2x
          "
          src="images/customers/10customer.jpg"
          alt="Sergiy's photo"
        />
        <div class="reviews__text-thumb">
          <p class="reviews__text">
            It has become my tradition to come here on sunny Sunday afternoons.
            I tried most of their flavors. Can't wait to make another trip to
            this shop and enjoy delicious ice cream!
          </p>
        </div>
        <span class="reviews__label">Sergiy, Kriviy Rig</span>
      </article>
    </div>
  </div>
</section>
