<section class="gallery__section section" id="gallery__section">
  <div class="container gallery">
    <h2 class="gallery__tittle visually-hidden">Gallery</h2>
    <div class="gallery__column">
      <div class="gallery__box">
        <picture>
          <source
            srcset="
              images/gallery/pic1-ds.jpg    1x,
              images/gallery/pic1-ds@2x.jpg 2x
            "
            media="(min-width: 1200px)"
            type="image/jpeg"
          />
          <source
            srcset="
              images/gallery/pic1-tb.jpg    1x,
              images/gallery/pic1-tb@2x.jpg 2x
            "
            media="(min-width: 768px)"
            type="image/jpeg"
          />
          <source
            srcset="
              images/gallery/pic1-mb.jpg    1x,
              images/gallery/pic1-mb@2x.jpg 2x
            "
            media="(max-width: 767px)"
            type="image/jpeg"
          />
          <img
            class="gallery__photo"
            src="images/gallery/pic1-mb.jpg"
            alt="photo ice cream"
          />
        </picture>
      </div>
    </div>
    <div class="gallery__column gallery__column--first">
      <div class="gallery__box gallery__box--rotated">
        <picture>
          <source
            srcset="
              images/gallery/pic2-ds.jpg    1x,
              images/gallery/pic2-ds@2x.jpg 2x
            "
            media="(min-width: 1200px)"
            type="image/jpeg"
          />
          <source
            srcset="
              images/gallery/pic2-tb.jpg    1x,
              images/gallery/pic2-tb@2x.jpg 2x
            "
            media="(min-width: 768px)"
            type="image/jpeg"
          />
          <source
            srcset="
              images/gallery/pic2-mb.jpg    1x,
              images/gallery/pic2-mb@2x.jpg 2x
            "
            media="(max-width: 767px)"
            type="image/jpeg"
          />

          <img
            class="gallery__photo"
            src="images/gallery/pic2-mb.jpg"
            alt="photo ice cream"
          />
        </picture>
      </div>
      <div class="gallery__box">
        <picture>
          <source
            srcset="
              images/gallery/pic3-ds.jpg    1x,
              images/gallery/pic3-ds@2x.jpg 2x
            "
            media="(min-width: 1200px)"
            type="image/jpeg"
          />
          <source
            srcset="
              images/gallery/pic3-tb.jpg    1x,
              images/gallery/pic3-tb@2x.jpg 2x
            "
            media="(min-width: 768px)"
            type="image/jpeg"
          />
          <source
            srcset="
              images/gallery/pic3-mb.jpg    1x,
              images/gallery/pic3-mb@2x.jpg 2x
            "
            media="(max-width: 767px)"
            type="image/jpeg"
          />

          <img
            class="gallery__photo"
            src="images/gallery/pic3-mb.jpg"
            alt="photo ice cream"
          />
        </picture>
      </div>
    </div>
    <div class="gallery__column gallery__column--second">
      <div class="gallery__box gallery__box--rotated">
        <picture>
          <source
            srcset="
              images/gallery/pic4-ds.jpg    1x,
              images/gallery/pic4-ds@2x.jpg 2x
            "
            media="(min-width: 1200px)"
            type="image/jpeg"
          />
          <source
            srcset="
              images/gallery/pic4-tb.jpg    1x,
              images/gallery/pic4-tb@2x.jpg 2x
            "
            media="(min-width: 768px)"
            type="image/jpeg"
          />
          <source
            srcset="
              images/gallery/pic4-mb.jpg    1x,
              images/gallery/pic4-mb@2x.jpg 2x
            "
            media="(max-width: 767px)"
            type="image/jpeg"
          />

          <img
            class="gallery__photo gallery__photo--big"
            src="images/gallery/pic4-mb.jpg"
            alt="photo ice cream"
          />
        </picture>
      </div>
      <div class="gallery__box gallery__box--changed">
        <picture>
          <source
            srcset="
              images/gallery/pic5-ds.jpg    1x,
              images/gallery/pic5-ds@2x.jpg 2x
            "
            media="(min-width: 1200px)"
            type="image/jpeg"
          />
          <source
            srcset="
              images/gallery/pic5-tb.jpg    1x,
              images/gallery/pic5-tb@2x.jpg 2x
            "
            media="(min-width: 768px)"
            type="image/jpeg"
          />
          <source
            srcset="
              images/gallery/pic5-mb.jpg    1x,
              images/gallery/pic5-mb@2x.jpg 2x
            "
            media="(max-width: 767px)"
            type="image/jpeg"
          />

          <img
            class="gallery__photo"
            src="images/gallery/pic5-mb.jpg"
            alt="photo ice cream"
          />
        </picture>
      </div>
    </div>
    <div class="gallery__column gallery__column--third">
      <div class="gallery__box gallery__box--rotated">
        <picture>
          <source
            srcset="
              images/gallery/pic6-ds.jpg    1x,
              images/gallery/pic6-ds@2x.jpg 2x
            "
            media="(min-width: 1200px)"
            type="image/jpeg"
          />
          <source
            srcset="
              images/gallery/pic6-tb.jpg    1x,
              images/gallery/pic6-tb@2x.jpg 2x
            "
            media="(min-width: 768px)"
            type="image/jpeg"
          />
          <source
            srcset="
              images/gallery/pic6-mb.jpg    1x,
              images/gallery/pic6-mb@2x.jpg 2x
            "
            media="(max-width: 767px)"
            type="image/jpeg"
          />

          <img
            class="gallery__photo"
            src="images/gallery/pic6-mb.jpg"
            alt="photo ice cream"
          />
        </picture>
      </div>
      <div class="gallery__box">
        <picture>
          <source
            srcset="
              images/gallery/pic7-ds.jpg    1x,
              images/gallery/pic7-ds@2x.jpg 2x
            "
            media="(min-width: 1200px)"
            type="image/jpeg"
          />
          <source
            srcset="
              images/gallery/pic7-tb.jpg    1x,
              images/gallery/pic7-tb@2x.jpg 2x
            "
            media="(min-width: 768px)"
            type="image/jpeg"
          />
          <source
            srcset="
              images/gallery/pic7-mb.jpg    1x,
              images/gallery/pic7-mb@2x.jpg 2x
            "
            media="(max-width: 767px)"
            type="image/jpeg"
          />

          <img
            class="gallery__photo"
            src="images/gallery/pic7-mb.jpg"
            alt="photo ice cream"
          />
        </picture>
      </div>
    </div>
    <div class="gallery__column gallery__column--fourth">
      <div class="gallery__box gallery__box--rotated">
        <picture>
          <source
            srcset="
              images/gallery/pic8-ds.jpg    1x,
              images/gallery/pic8-ds@2x.jpg 2x
            "
            media="(min-width: 1200px)"
            type="image/jpeg"
          />
          <source
            srcset="
              images/gallery/pic8-tb.jpg    1x,
              images/gallery/pic8-tb@2x.jpg 2x
            "
            media="(min-width: 768px)"
            type="image/jpeg"
          />
          <source
            srcset="
              images/gallery/pic8-mb.jpg    1x,
              images/gallery/pic8-mb@2x.jpg 2x
            "
            media="(max-width: 767px)"
            type="image/jpeg"
          />

          <img
            class="gallery__photo"
            src="images/gallery/pic8-mb.jpg"
            alt="photo ice cream"
          />
        </picture>
      </div>
      <div class="gallery__box">
        <picture>
          <source
            srcset="
              images/gallery/pic9-ds.jpg    1x,
              images/gallery/pic9-ds@2x.jpg 2x
            "
            media="(min-width: 1200px)"
            type="image/jpeg"
          />
          <source
            srcset="
              images/gallery/pic9-tb.jpg    1x,
              images/gallery/pic9-tb@2x.jpg 2x
            "
            media="(min-width: 768px)"
            type="image/jpeg"
          />
          <source
            srcset="
              images/gallery/pic9-mb.jpg    1x,
              images/gallery/pic9-mb@2x.jpg 2x
            "
            media="(max-width: 767px)"
            type="image/jpeg"
          />

          <img
            class="gallery__photo"
            src="images/gallery/pic9-mb.jpg"
            alt="photo ice cream"
          />
        </picture>
      </div>
    </div>
    <div class="gallery__column">
      <div class="gallery__box">
        <picture>
          <source
            srcset="
              images/gallery/pic10-ds.jpg    1x,
              images/gallery/pic10-ds@2x.jpg 2x
            "
            media="(min-width: 1200px)"
            type="image/jpeg"
          />
          <source
            srcset="
              images/gallery/pic10-tb.jpg    1x,
              images/gallery/pic10-tb@2x.jpg 2x
            "
            media="(min-width: 768px)"
            type="image/jpeg"
          />
          <source
            srcset="
              images/gallery/pic10-mb.jpg    1x,
              images/gallery/pic10-mb@2x.jpg 2x
            "
            media="(max-width: 767px)"
            type="image/jpeg"
          />

          <img
            class="gallery__photo"
            src="images/gallery/pic10-mb.jpg"
            alt="photo ice cream"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
