<header class="header">
  <div class="container container--flex">
    <a href="/src/index.html" aria-label="logo">
      <svg class="logo" width="199" height="50" aria-label="logo company">
        <use href="/src/images/symbol-defs.svg#logo"></use>
      </svg>
    </a>
    <nav class="navigation">
      <ul class="navigation__list">
        <li class="navigation__item"><a class="navigation__link" href="#hero">Home</a></li>
        <li class="navigation__item"><a class="navigation__link" href="#our-products">About us</a></li>
        <li class="navigation__item"><a class="navigation__link" href="#about">How it’s made?</a></li>
        <li class="navigation__item"><a class="navigation__link" href="#products">Our products</a></li>
        <li class="navigation__item"><a class="navigation__link" href="#contact">Contact</a></li>
      </ul>
    </nav>
    <button data-modal-open-desktop class="button-buy--leptop" type="button" aria-label="open button Buy now">
      Buy now
      <svg class="button-buy__icon--tablet" width="8" height="10" aria-label="vector right">
        <use class="vector-red" href="/src/images/symbol-defs.svg#icon-Vector-2"></use>
      </svg>
    </button>
    <div class="mobile-menu">
      <button type="button" class="button-menu js-open-menu" aria-expanded="false" aria-controls="mobile-menu" aria-label="open mobile menu">
        <svg width="20" height="12" aria-label="mobile-menu">
          <use class="icon-cross" href="/src/images/symbol-defs.svg#burger"></use>
        </svg>
      </button>
      <button data-modal-open-tablet class="button-buy--tablet" type="button" aria-label="open button Buy now">
        Buy now
        <svg class="button-buy__icon--tablet" width="8" height="10" aria-label="vector right">
          <use class="vector-red" href="/src/images/symbol-defs.svg#icon-Vector-2"></use>
        </svg>
      </button>
    </div>
  </div>
</header>