<div class="backdrop is-hidden" data-modal-success>
  <section class="success-modal">
    <button data-modal-success-close class="round-button btn" type="button">
      <svg width="25" height="25">
        <use class="round-button_icon" href="./images/symbol-defs.svg#close"></use>
      </svg>
    </button>
    <h2 class="success-modal__title">Thank you for your delicious choice</h2>
    <img class="success-modal__img" src="images/icecream-success640.png" alt="ice deserts" loading="lazy">
    <p class="success-modal__subtitle">We will contact you soon</p>
    <button data-modal-success-close-1 class="button-sub success-modal__button" type="submit">
      come back on sweet page
    </button>
  </section>
</div>