<div class="backdrop is-hidden" data-modal>
  <div class="modal__window">
    <button data-modal-close class="round-button btn" type="button">
      <svg width="22" height="22">
        <use class="round-button_icon" href="./images/symbol-defs.svg#close"></use>
      </svg>
    </button>
    <h2 class="form-title">Leave your details, we will call you back</h2>
    <form class="role-groupe" autocomplete="off">
      <label class="data-box" for="name"><span class="client-data">Name</span>
        <input class="data-field" placeholder=" " type="text" name="name" id="name" />
      </label>
      <label class="data-box" for="Tel"><span class="client-data">Tel</span>
        <input class="data-field" placeholder=" " type="text" name="name" id="Tel" />
      </label>
      <label class="data-box" for="Mail"><span class="client-data">Mail</span>
        <input class="data-field last" placeholder=" " type="text" name="name" id="Mail" />
      </label>
      <div class="data-box-feed">
        <label  for="comment"><span class="client-data--texteria">What kind of cooperation do you
          interested</span></label>
        <textarea name="feedback" rows="5" class="feedback" id="comment" placeholder="Enter the text"></textarea>
      </div>
      <label class="agreement">
        <input class="agreement__checkbox agreement__text" type="checkbox" name="" value="checkbox-box" />
        I give a permission for the collection my personal data
        </label>
      <button data-modal-success-open class="button-sub button-sub__text" type="submit">
        Send
      </button>
    </form>
  </div>
</div>